!!!5

%html
  %head
    %title I <3 U Biebs

    %script{ src: "http://js.pusher.com/1.12/pusher.min.js" }
    %link{ href: 'http://fonts.googleapis.com/css?family=Lobster', rel: 'stylesheet', type: 'text/css' }
    %link{ href: "/stylesheets/screen.css", rel: 'stylesheet' }

  %body
    #container
      %h1 Leave a voicemail for Justin Bieber
      %h2 US: 415-367-3925
      %h2 UK: 020 3322 3162

      %ul#messages
        - @recordings.each do |recording|
          %li
            %iframe{ width: "100%", height: "166", scrolling: "no", frameborder: "no", src: "http://w.soundcloud.com/player/?url=#{CGI.escape recording}&show_artwork=false" }


    :javascript
      Pusher.host     = '#{@pusher_url.host}';
      Pusher.ws_port  = '#{@pusher_url.port}';
      Pusher.log      = function(data) { console.log('\t\t', data) };

      var pusher      = new Pusher('#{ENV["PUSHER_KEY"]}');

      pusher.bind('pusher:error', function(data) { alert(data['message']) })

      var myChannel   = pusher.subscribe('iloveyoubiebs');

